# Configuration for coverage.py

[run]
branch = True
source = sknano
include = */sknano/*
omit =
    */setup.py
    */sknano/version.py
    */tests/*

[report]
exclude_lines =
    def __repr__
    if __name__ == .__main__.:
