include MANIFEST.in
include *.rst
include *.txt
include setup.py
recursive-include sknano *
recursive-include doc *
prune doc/build
prune doc/source/generated
prune doc/source/sknano
prune doc/source/images
prune doc/source/_static
prune doc/source/_templates
global-exclude *.pyc *~ *.bak *.xlsx *.swp *.pyo *.ropeproject
