atomicfile==1.0
Cython==0.22.1
future==0.14.3
monty==0.6.5
numpy==1.9.1
prettytable==0.7.2
pybtex==0.18
pyhull==1.5.4
pymatgen==3.1.0
PyYAML==3.11
requests==2.7.0
scipy==0.15.0
six==1.9.0
wheel==0.24.0
numpydoc>=0.5
sphinx-argparse>=0.1.13
