/*
Styling to add still
--------------------

div: sknano-notice (general notices: e.g. submission requested is invalid)

*/

/* -------------------------------------------------------------------------*/
/* Basic layout of the document: no styling - that is applied further down. */
/* -------------------------------------------------------------------------*/
body {
    /* From: http://matthewjamestaylor.com/blog/perfect-3-column.htm */
    margin:0;
    padding:0;
    border:0;            /* This removes the border around the viewport in old versions of IE */
    width:100%;
    background:#ffffff;
    min-width:600px;    /* Minimum width of layout - remove line if not required */
                    /* The min-width property does not work in old versions of Internet Explorer */
}

#sknano-document-container{
    position: relative;
    min-width: 50em;
    max-width: 90em;
}
#sknano-header {
    clear: both;
    float: left;
    width: 100%;
    display: block;
}
.sknano-header-row{
    float: left;
    width: 100%;
    clear: both;
}
.sknano-header-left{
    float: left;
    position: relative;
    left: +1%
}
.sknano-header-right{
    float: right;
    position: relative;
    left: -1%
}
#sknano-contentwrap{
    display: block;
    overflow: hidden;
}
#sknano-content-main{
    float: left;
    width: 100%;
}

#sknano-navigation-bottom{
    clear: both;
}
#sknano-footer{
    clear: both;
}

/* -------------------------------------------- */
/* Now we will begin styling the various blocks */
/* -------------------------------------------- */

/* Document container */
#sknano-document-container {
    font: 13px/1.5 'Lucida Grande','Lucida Sans Unicode','Geneva','Verdana',sans-serif;
    background: #FFFFFF;
    margin: auto;              /* display container in the center of the page */
    padding-top: 12px;
}
#sknano-document-container img{
    border: 0
}
#sknano-document-container a:visited { /* for IE6 */
    color: purple;
}
/* Header block styling */
.sknano-header-row{
    text-align: center;
}
.sknano-header-right{
    float: right;
    text-align: right;
}
#sknano-site-notice{
    /*display: none;*/
    color: #aaf;
    font-weight: bold;
    padding: 6px 0px;
    border-bottom: 1px dashed #aaf;
    background: #eee;
    /*display: none; Uncomment to remove the site notice*/
}
#sknano-site-title{
    border-bottom: 1px solid #aaa;
    margin-top: -2em;

}

#sknano-top-menu{
    padding-top: 0.25em;
}
#sknano-header h1 a {
    color: black;
    text-decoration: none;
    text-align: center;
    font: 36px/1.0 'Inconsolata','Lucida Grande','Lucida Sans Unicode','Geneva','Verdana',sans-serif;
    font-weight: bold;
}
#sknano-top-menu a {
    text-decoration: none;
    font-weight: bold;
    font: 20px 'Inconsolata','Lucida Grande','Lucida Sans Unicode','Geneva','Verdana',sans-serif;
}
#sknano-top-menu a:hover{
    text-decoration: underline;
}

/* contentwrap block: applies to everything in the bulk of the page */
#sknano-contentwrap {
}

/* The major chunk of content (left side); the sidebar comes later */
#sknano-content-main{
    background: #FFFFFF;
}

/* Border */
#sknano-border {
    margin-left: 0px;
    background: white;
    padding-top: 0em;     /* Don't remove top and bottom padding: leads to   */
    padding-bottom: 0em;  /* unwanted horizontal borders around the document.*/
    padding-left: 2em;
    padding-right: 2em;
}

/* sknano-section-body: the current section of the document.  The Sphinx
   generated HTML is inserted inside this DIV element.  Specific formatting for
   the HTML should go here */
/* ----------------------- */
#sknano-section-body {
    margin-bottom: 1em;
}

/* Styling for the headers */
div#sknano-section-body h1, h2, h3, h4, h5, h6{
    color: #20435C;
    font-family: 'Trebuchet MS', sans-serif;
    font-weight: normal;
    border-bottom: 0px solid #ccc;
    margin-bottom: 0.5em;
}
div#sknano-section-body h1 { font-size: 200%; font-weight: bold;}
div#sknano-section-body h2 { font-size: 160%; font-weight: bold; color: #101074;}
div#sknano-section-body h3 { font-size: 140%; color: #362A13;}
div#sknano-section-body h4 { font-size: 120%; }
div#sknano-section-body h5 { font-size: 110%; }
div#sknano-section-body h6 { font-size: 100%; }

.sknano-title-in-span{font-size: 160%; font-weight: bold; color: #101074; float: left;}

/* Styling for forms */
input, select, textarea{
    border:solid 1px #aacfe4;
    padding: 4px 2px;
    margin-bottom: 1em;
}

/* Styling for hyperlinks */
div#sknano-section-body a{
    text-decoration: none;
}
div#sknano-section-body a:hover{
    text-decoration: underline;
}

/* Styling for images and figures: images are inline, figures are centered */
div#sknano-section-body .align-center{
    text-align: center;
}

/* Styling for <tt></tt> elements */
tt {
    background-color:#EEE;
    color:#000;
    font: 16px/1.0 'Inconsolata', Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
}

/* Main page */
#sknano-site-statement{
    width: 90%;
    margin: auto;
    text-align: center;
    padding-top: 1em;
}
#sknano-search{
    clear: both;
    float: none;
    display: block;
    margin: 0 auto;
    width: 700px;
}
#sknano-search-form{
    margin-top: 10pt;
}
#sknano-search-input {
    cursor: auto;
    display: inline;
    height: 31px;
    float: left;
    width: 580px;
    border: 2px solid #3e5d34;
    padding: 0;
    padding-left: 0.5em;
    margin: 0;
    margin-right: 20px;
    color: #555;
    font-family: 'Inconsolata', 'Lucida Grande';
    font-size: 24px;
    text-indent: 0px;
    text-shadow: none;
    text-transform: none;
    word-spacing: 0px;
    background: none;
}
#sknano-search-button{
    border: 1px outset #B6A792;
    vertical-align:middle;
    border:none;
    cursor:pointer;
    padding: 0;
    display: block;
    float: left;
    width: 80px;
    height: 35px;
    margin: 0;
    background: #ddd;
    display: inline-block;
    overflow: hidden;
}
#sknano-search-results{
    width: 75%;
}
#sknano-search-results li{
    margin: 0 auto;
    list-style-type: none;
    padding: 0.5em 0;
    float: left;
}

/* Submission buttons */
.sknano-button-container {
    float: left;
    width: 100%;
    clear: both;
    margin-bottom:1em;
}
#sknano-buttonlist {
    margin: 0 auto;
    list-style-type: none;
    padding: 0;
    padding-top: 2em;
    float: left;
    position: relative;
    left: 50%;
}
#sknano-buttonlist li {
    float: left;
    position: relative;
    right: 50%;
    padding: 0em 1em;
}
#sknano-buttonlist a {
    text-decoration: none;
    margin: 0 auto;
    display: block;
}
.sknano-button{
    background-position: 0px 0px;
    background-color: #DDDDDD;
    border: 1px outset #B6A792;
    cursor: auto;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

/* Portals */
.sknano-portal-container{
    width: 65%;
    clear: both;
    padding: 0px;
    position: relative;
    display: block;
    margin: 0 auto;
}
.sknano-portal-row-container {
    clear:both;
    float:left;
    width:100%;                /* width of whole page */
    overflow:hidden;        /* This chops off any overhanging divs */
}
.sknano-portal-row {
    float:left;
    width:100%;
    position:relative;
    right:50%;                /* right column width */
    background:#fff;        /* left column background colour */
    }
.sknano-portal-left,
.sknano-portal-right{
    float:left;
    position:relative;
    padding:0 0 1em 0;
    overflow:hidden;
}
.sknano-portal-left {
    width:46%;            /* left column content width (column width minus left and right padding) */
    left:52%;            /* right column width plus left column left padding */
}
.sknano-portal-right {
    width:46%;            /* right column content width (column width minus left and right padding) */
    left:56%;            /* (right column width) plus (left column left and right padding) plus (right column left padding) */
}
.sknano-portal-container h3{
    font: 14px/1.0 'Inconsolata', Monaco, Lucida Console, Sans Mono, Courier New, monospace, serif;
    text-align: center;
    border-bottom: 1px solid;
}
.sknano-portal-container a{
    text-decoration: none;
    font-weight: bold;
    font: 14px sans-serif;
}
.sknano-portal-container a:hover{
    text-decoration: underline;
}
.sknano-portal-container ul{
    list-style-type: square;
}
.sknano-portal-container li{
    margin-left: -1em;
}


/* Submission forms */
#sknano-form-error-message{
    margin-bottom: 1em;
    text-align: center;
    border-bottom:solid 1px #000;
}
.errorlist{
    list-style-type: none;
    float: left;
    padding: 0;
}
.errorlist li{
    font-style: italic;
}
.sknano-field-error{
    background: #ee8888;
    padding: 4px;
}
.sknano-form-button{
    padding: 5px;
}

  /* column container */
  /* http://matthewjamestaylor.com/blog/perfect-3-column.htm */
.colmask {
    position:relative;    /* This fixes the IE7 overflow hidden bug */
    clear:both;
    float:left;
    width:100%;            /* width of whole page */
    overflow:hidden;        /* This chops off any overhanging divs */
    padding-bottom: 1em;
}
/* common column settings */
.colright,
.colmid,
.colleft {
    float:left;
    width:100%;            /* width of page */
    position:relative;
}
.col1,
.col2,
.col3 {
    float:left;
    position:relative;
    padding:0;    /* no left and right padding on columns */
    overflow:hidden;
}
  /* 3 Column settings */
.threecol {
    background:#fff;    /* right column background colour */
}
.threecol .colmid {
    right:25%;        /* width of the right column */
    background:#fff;    /* center column background colour */
}
.threecol .colleft {
    right:60%;        /* width of the middle column */
    background:#fff;    /* left column background colour */
}
.threecol .col1 {
    width:58%;        /* width of center column content (column width minus padding on either side) */
    left:101%;        /* 100% plus left padding of center column */
}
.threecol .col2 {
    width:13%;        /* Width of left column content (column width minus padding on either side) */
    left:28%;            /* width of (right column) plus (center column left and right padding) plus (left column left padding) */
}
.threecol .col3 {
    width:23%;        /* Width of right column content (column width minus padding on either side) */
    left:90%;            /* Please make note of the brackets here:
      (100% - left column width) plus (center column left and right padding) plus (left column left and right padding) plus (right column left padding)
      (100-15)+(1+1)+(1+1)+(1)*/
}
.form-field input, select, textarea{
    width: 98%;
    max-width:1000px;
    min-width:500px;
}
.form-field-auto-width{
    width: auto;
}
.sknano-code-description{
    height: 15em;
}
span.sknano-helptext ul{
    margin: 0;
    padding-left: 20px;
}
.sknano-odd{
    background: #DDF;
}
.sknano-even{
    background: #CCF;
}
li.sknano-odd tt{
    background-color: #DDF;
}
li.sknano-even tt {
    background-color: #CCF;
}

/* Image upload */
#sknano-item-upload {
}
#sknano-item-upload-button{
    padding: 0.5em;
    text-align: center;
}
.sknano-item-upload-success{
    background: #ffa;
    padding: 4px;
}

/* Tagging */
.ui-autocomplete {
    max-height: 150px;
    overflow-y: auto;
    overflow-x: hidden;  /* prevent horizontal scrollbar */
    padding-right: 20px; /* add padding to account for vertical scrollbar */
}
/* IE 6 doesn't support max-height
 * we use height instead, but this forces the menu to always be this tall */
* html .ui-autocomplete {
    height: 100px;
}
.sknano-tag{
    background-color: #E0EAF1;
    color: #3E6D8E;
    border-bottom: 1px solid #37607D;
    border-right: 1px solid #37607D;
    text-decoration: none;
    padding: 4px 4px 3px 4px;
    margin: 2px 5px 2px 0px;
    font-size: 90%;
    line-height: 1.4;
    white-space: nowrap;
    cursor: pointer;
    float:left;
}
.sknano-tag:hover{
    background-color: #3E6D8E;
    color: #E0EAF1;
}
.sknano-tag-cloud{
    background-color: #FFF;
    color: #3E6D8E;
    border-bottom: 0px solid #37607D;
    border-right: 0px solid #37607D;
    text-decoration: none;
    padding: 0px 4px 0px 4px;
    margin: 2px 5px 2px 0px;
    font-size: 90%;
    white-space: nowrap;
    cursor: pointer;
}
.sknano-tag-cloud:hover{
    background-color: #FFF;
    color: #1E4D6E;
}

#sknano-preview-edit-submit{
    clear: both;
}
#sknano-preview-edit-submit form input{
    display: inline;
    padding: 5px;
}
#sknano-item-submit{
    margin-left:8em;
    font-weight: bold;
}
#sknano-item-preview{
    width:auto;
    min-width:0;
    padding: 0.5em;
    text-align:center;
}

#sknano-item-header{
    clear: both;
    padding: 0px;
    float: left;
    width: 102%;
    position: relative;
    display: block;
    margin: 0 auto;
    left: -1%;
    top: -20px;
}
#sknano-item-header-left{
    float: left;
    text-align: left;
}
#sknano-item-header-right{
    float: right;
    text-align: right;
}

div.sknano-item-row {
    clear: both;
    padding-top: 10px;
}

div.sknano-item-row span.sknano-item-label {
    float: left;
    width: 200px;
    text-align: left;
    padding-right: 20px;
    padding-bottom: 4px;
    font-weight: bold;
}

div.sknano-item-row span.sknano-item-entry {
    float: left;
    min-width: 500px;
    max-width: 1000px;
    text-align: left;
}

div.sknano-item-row span.sknano-item-entry ul{
  padding: 0;
  margin: 0;
  list-style-type: none;
}

div.sknano-item-row span.sknano-50-50{
    float: left;
    width: 49%;
    text-align: left;
}
.sknano-help-section a{
   color: #0069CC;
   margin-top: 1em;
}
.sknano-entries-list ul{
  padding: 0;
  margin: 0;
  list-style-type: none;
}
/* Unstyle certain elements in the code/link description fields */
.sknano-item-description p{
    margin: 0;
    margin-bottom: 1em;
}
.sknano-item-row pre{
  border: 0px solid #FFF;
  overflow: auto;
  padding: 5px;
  background-color: #EEE;
  border: none;
  margin: 0;
  font: 16px/1.0 'Inconsolata', Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
}


/* Item display*/
#sknano-itemdisp-container{
    clear: both;
    padding: 0;
    padding-top: 1em;
    margin: 0 auto;
    width: 85%;
}

.sknano-itemdisp-row-container {
    clear:both;
    float:left;
    width:100%;
    margin: 0 0 1em 0;
}
.sknano-itemdisp-row {
    float:left;
    width:100%;
    }
.sknano-itemdisp-td{
  float: left;
  padding-right: 1%;
}
.sknano-itemdisp-description{
  width: 50%;
}
.sknano-itemdisp-link{
  float: right;
  font-size: 80%;
}
div .sknano-itemdisp-mainlink{
    text-decoration: underline;
    float: left;
    width: 100%;
}
.sknano-itemdisp-revinfo{
  float: right;
  font-size: 80%;
}
.sknano-itemdisp-created{
  width: 23%;
}
.sknano-itemdisp-tags{
  width: 23%;
}
.sknano-itemdisp-odd{
  background: #fff8f1;
}
.sknano-itemdisp-even{
  background: #fff;
}
.sknano-itemdisp-header{
  background: #f1c79d;
  padding: 0.4em 0 0.4em 0;
  font-weight: bold;
}
#sknano-itemdisp-pageheader{
  text-align: center;
  font: 24px/1.0 'Inconsolata','Lucida Grande','Lucida Sans Unicode','Geneva','Verdana',sans-serif;
  font-weight: bold;
}
.sknano-itemdisp-pagination{
    float: left;
}

div#sknano-itemdisp-container h1, h2, h3, h4, h5, h6{
    font-weight: normal;
    border-bottom: 1px solid #ccc;}
div#sknano-itemdisp-container h1 { font-size: 130%; font-weight: bold;}
div#sknano-itemdisp-container h2 { font-size: 120%; font-weight: bold;}
div#sknano-itemdisp-container h3 { font-size: 110%;}
div#sknano-itemdisp-container h4 { font-size: 100%; }
div#sknano-itemdisp-container h5 { font-size: 100%; }
div#sknano-itemdisp-container h6 { font-size: 100%; }

/* Permalinks and other minor info*/
.sknano-minor-info {
    font-size: 80%;
    float: left;
    border-top: 1px solid #ddd;
}
.sknano-minor-info p{
    margin: 0;
}
.sknano-minor-info a{
    text-decoration: none;
}
.sknano-minor-info a:hover{
    text-decoration: underline;
}

/* User profile pages */
#sknano-profile-user-options ul{
    margin: 0 auto;
    padding: 0 0;
}
#sknano-profile-user-options li{
    margin: 0 auto;
    list-style-type: none;
    padding: 0 5px 0 5px;
    float: left;
    border-right: 1px solid;
}
#sknano-profile-user-options li:first-child{
    padding-left: 0px;
}
#sknano-profile-user-options li:last-child{
    border-right: none;
}
/* Styling for certain static pages */
#sknano-static-centering{
    display: block;
    margin: 0 auto;
    min-width: 30em;
    max-width: 50em;
}

/* sknano-footer: http://www.alistapart.com/articles/practicalcss/   */
#sknano-footer {
    clear: both;
    font-size: 90%;
    padding: 0px;
    float: left;
    width: 100%;
    position: relative;
    display: block;
    margin: 0 auto;
    border-top: 1px solid #aaa;
}
#sknano-footer a{
    text-decoration: none;
    font-weight: bold;
    font: 15px sans-serif;
}
#sknano-footer a:hover{
    text-decoration: underline;
}
.sknano-footer-left{
    float: left;
    text-align: left;
}
.sknano-footer-right{
    float: right;
    text-align: right;
}
.sknano-footer-left ul{
    margin: 0;
    padding: 0;
}
.sknano-footer-left li{
    display: inline;
    padding-left: 3px;
    padding-right: 7px;
    border-right: 0px solid #aaa;
}
.sknano-indent{
    margin-left: 15px;
}
.sknano-flag{
    padding-left: 1em;
    vertical-align: middle;
}

/* ---------------- */
/* Form styling     */
/* ---------------- */
.sknano-form{
    padding-top: 2em;
}

.sknano-form-label{
    display: block;
    font-size: 14px;
    color: #444;
}
.sknano-centering-div-container{
    clear: both;
    margin: 0 auto;
    border: 1px;
    padding: 1em;
    float: left;
}

/* ---------------------- */
/* Miscellaneous elements */
/* ---------------------- */
